.navbar-main {
  transition: box-shadow 0.25s ease-in, background-color 0.25s ease-in;
}

.navbar-main.fixed-top {
  width: calc(100% - (15.625rem + 1.5rem * 3));
}

.navbar-main.fixed-top + [class*="container"] {
  margin-top: 7.1875rem !important;
}
.g-sidenav-show .navbar:not(.sidenav).navbar-main .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.g-sidenav-show .navbar:not(.sidenav).navbar-main .navbar-nav {
  flex-direction: row;
}
.navbar-main .fa-bell {
  font-size: 1.5rem; /* Adjust the icon size as needed */
}
/* Style for the user icon */
.user-icon {
  max-width: 2.5rem;
  height: auto;
  border: 1px solid black;
  border-radius: 50%;
}
